apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ kubernets_version }}
apiServer:
  certSANs:
  - "{{ keepalived_virtual_ipaddress }}"
controlPlaneEndpoint: "{{ keepalived_virtual_ipaddress }}:6443"
